@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: MasterScript;
    src: url(assets/fonts/MasterScript.ttf);
}

body {
    font-family: "Inter", sans-serif;
}

.font-masterscript {
    font-family: MasterScript, serif;
}